*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: orange;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* #heart{
    position: relative;
    width: 100px;
    height: 90px;
    background-color: red;
}

#heart:before, #heart:after{ 
    position: absolute; 
    content: ""; 
    left: 50px; 
    top: 0; 
    width: 50px; 
    height: 80px; 
    background: red; 
    border-radius: 50px 50px 0 0; 
    transform: rotate(-45deg); 
    transform-origin: 0 100%; 
}

#heart:after { 
    left: 0; 
    transform: rotate(45deg); 
    transform-origin :100% 100%; 
} */

.ball{
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: yellow;
    bottom:30px;
    /* left:10px; */
    z-index: 0;
    border: 2px solid blue;
}

#cup-01, #cup-02, #cup-03{
    position: relative;
    width: 90px;
    height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cup-01:before, #cup-01:after, #cup-02:before, #cup-02:after, #cup-03:before, #cup-03:after{
    position: absolute;
    content: "";
    left: 45px;
    top: 0px;
    width: 45px;
    height: 80px;
    transform: skew( 15deg );
    transform-origin: 0 100%;
    background-color: red;
    z-index: 1;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
}

#cup-01::before, #cup-02::before, #cup-03::before{
    border-right: 1px solid purple;
}

#cup-01:after, #cup-02:after, #cup-03:after{
    left:0;
    transform: skew(-15deg);
    background: linear-gradient(-80deg, red, red, purple);
    border-left: 2px solid purple;
}

.cup-container{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.move-cup{
    bottom: 80px;
}

.move-ball{
    bottom: -60px;
}